@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  color: #fbfdfd;
}
